<tr class="article__row" data-article-title="{{ doi }}"
    data-article-id="{{ id }}"
    data-article-version="{{ version }}"
    data-article-run="{{ run-id }}"
    data-article-doi="{{ doi }}"
    data-action="publish">
    <td class="article__col article__col__icon">
        {{#if url}}
            <a href="/article/{{url}}" class="article__icon">
                <span class="fa fa-file {{#if status}}file-icon-{{lowercase status }}{{else}}file-icon-none{{/if}}"></span>
            </a>
        {{else}}
            <span class="article__icon">
            <span class="fa fa-file {{#if status}}file-icon-{{lowercase status }}{{else}}file-icon-none{{/if}}"></span>
        </span>
        {{/if}}
    </td>
    <td class="article__col article__col__title">
        <h6 class="article__title">
            {{#if url}}
                <a href="/article/{{url}}">
                    {{#if doi}}{{ doi }}{{else}}Not yet available ({{id}}){{/if}}
                </a>
            {{else}}
                {{#if doi}}{{ doi }}{{else}}Not yet available ({{id}}){{/if}} {{#unless id}}<span class="fa e-icon xs danger fa-exclamation-triangle" data-toggle="tooltip" data-placement="right" title="There is a problem with this article ID is null"></span>{{/unless}}
            {{/if}}

        </h6>
        {{#if title}}
            <p>
                {{#if url}}
                    <a href="/article/{{url}}">{{ title }}</a>
                {{else}}
                    {{ title }}
                {{/if}}
            </p>
        {{/if}}
    </td>
    <td class="article__col article__col__info">

        {{#if version}}
            {{#if doi}}
                <dl>
                    <dt>
                        {{#if url}}
                            <a href="/article/{{url}}"><i>Version:</i></a>
                        {{else}}
                            <i>Version:</i>
                        {{/if}}
                    </dt>
                    <dd>
                        {{#if url}}
                            <a href="/article/{{url}}">{{ version }}</a>
                        {{else}}
                            {{ version }}
                        {{/if}}
                    </dd>
                </dl>
            {{/if}}
        {{/if}}
        {{#if article-type}}
            <dl>
                <dt>
                    {{#if url}}
                        <a href="/article/{{url}}"><i>Article type:</i></a>
                    {{else}}
                        <i>Article type:</i>
                    {{/if}}
                </dt>
                <dd>
                    {{#if url}}
                        <a href="/article/{{url}}">{{ article-type }}</a>
                    {{else}}
                        {{ article-type }}
                    {{/if}}
                </dd>
            </dl>
        {{/if}}
        {{#if publication-date}}
            <dl>
                <dt>
                    {{#if url}}
                        <a href="/article/{{url}}"><i>Publication date:</i></a>
                    {{else}}
                        <i>Publication date:</i>
                    {{/if}}
                </dt>
                <dd>
                    {{#if url}}
                        <a href="/article/{{url}}">{{publication-date}}{{!--{{elFormatUnixDate publication-date "Do MMMM YYYY" }}--}}</a>
                    {{else}}
                        {{publication-date}}{{!--{{elFormatUnixDate publication-date "Do MMMM YYYY" }}--}}
                    {{/if}}
                </dd>
            </dl>
        {{/if}}
        {{#if corresponding-authors}}

            <dl>
                <dt>
                    {{#if url}}
                        <a href="/article/{{url}}"><i>Corresponding authors:</i></a>
                    {{else}}
                        <i>Corresponding authors:</i>
                    {{/if}}
                </dt>
                <dd>
                    {{#if url}}
                        <a href="/article/{{url}}">{{ corresponding-authors }}</a>
                    {{else}}
                        {{ corresponding-authors }}
                    {{/if}}
                </dd>
            </dl>
        {{/if}}

    </td>
    <td class="article__col article__col__status">
        {{#isnt section 'uir'}}
            <p>
                <b>
                    {{#if event-type}}
                        {{#if url}}
                            <a href="/article/{{url}}">{{ uppercase event-type }}</a>
                        {{else}}
                            {{ uppercase event-type }}
                        {{/if}}
                    {{/if}}
                    {{#if event-status}}
                        <br />
                        {{#if url}}
                            <a href="/article/{{url}}">{{ uppercase event-status }}</a>
                        {{else}}
                            {{ uppercase event-status }}
                        {{/if}}
                    {{/if}}
                </b>
            </p>
        {{/isnt}}
    </td>
    <td class="article__col article__col__action">
        {{#is section 'uir'}}
            <a href="{{preview-link}}" target="_blank" class="btn btn-default btn-block preview">
                <span class="fa fa-eye"></span>
                Preview
            </a>
            <button class="btn btn-default  btn-block schedule schedule-btn" id="schedule-{{ id }}" data-toggle="modal"
                    data-action-type="schedule"
                    data-title="Schedule Article"
                    data-target="#schedule-modal"
                    {{#if expected-publication-date}}data-expected-publication-date="{{expected-publication-date}}"{{/if}} 
                    data-article-id="{{ id }}" {{#unless id}}disabled="disabled"{{/unless}}>
                <span class="fa fa-calendar"></span>
                Schedule
            </button>
            <button class="btn btn-default publish btn-publish btn-block" data-toggle="modal"
                    data-target="#publish-modal"
                    type="button" {{#unless id}}disabled="disabled"{{/unless}}>
                <span class="fa fa-globe"></span>
                Publish Now
            </button>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="checkbox-{{ id }}" class="toggle-publish-all" {{#unless id}}disabled="disabled"{{/unless}}> Batch Publishing
                </label>
            </div>
        {{/is}}
        {{#is section 'uirvr'}}
            <button class="btn btn-default  btn-block schedule schedule-btn" id="version-reason-{{ id }}" data-toggle="modal"
                    data-action-type="version-reason"
                    data-title="Reason for Version"
                    data-target="#version-reason-modal"
                    data-article-id="{{ id }}" {{#unless id}}disabled="disabled"{{/unless}}>
                <span class="fa fa-history"></span>
                Reason for Version
            </button>
        {{/is}}
        {{#is section 'scheduled'}}
            {{#if scheduled-publication-date}}

                <p><strong><span
                        class="text-uppercase">Scheduled</span><br/>{{elFormatUnixDate scheduled-publication-date "DD/MM/YYYY h:mma" }}
                </strong></p><br/>
                <button class="btn btn-default btn-block schedule schedule-amend-btn" data-action-type="schedule-amend"  id="schedule-amend-{{ id }}" data-toggle="modal"
                        data-target="#schedule-modal"
                        data-article-id="{{ id }}"
                        data-title="Re-schedule Article"
                        {{#if expected-publication-date}}data-expected-publication-date="{{expected-publication-date}}"{{/if}}
                        data-scheduled="{{scheduled-publication-date}}" {{#unless id}}disabled="disabled"{{/unless}}>
                    <span class="fa fa-calendar"></span>
                    Re-Schedule
                </button>
                <button class="btn btn-default btn-block schedule schedule-cancel-btn" data-action-type="schedule-cancel" id="schedule-cancel-{{ id }}" data-toggle="modal"
                        data-target="#schedule-modal"
                        data-article-id="{{ id }}"
                        data-article-doi="{{ doi }}"
                        data-title="Cancel Schedule" {{#unless id}}disabled="disabled"{{/unless}}>
                    <span class="fa fa-calendar-minus-o"></span>
                    Cancel
                </button>

            {{/if}}
        {{/is}}
        &nbsp;
    </td>
</tr>
